<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h2>施設一覧</h2>
    <% @saunas.each do |sauna| %>
      <%= link_to admin_sauna_path do %>
      <%= render 'public/saunas/index' %>
      <% end %>
    <% end %>
  </div>
</div>
