<%= render 'layouts/errors', obj: comment %>
<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% post.comments.each do |comment| %>
    <tr>
      <td><%= comment.saunner.nickname %></td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.saunner == current_saunner %>
        <%= link_to "削除", sauna_post_comment_path(sauna, post, comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>