<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <%= sauna_post_comments.each do |comment| %>
    <tr>
      <td><%= comment.user.name %></td>
      <td><%= comment.comment %></td>
      <td><%= link_to "削除", sauna_post_comment_path(sauna, post, comment), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>