<div class="container about">
  <div class="container top-text pt-5">
      <h3 class="text-center pt-5">
        everybodySAUNAとは…？
      </h3>
      <h4 class="text-center pt-5">
        全てのサウナーのサ活を充実したものに！
      </h4>
      <p class="text-center pt-3">
        以下の機能でこんなことができます。
      </p>
      <p class="text-center pt-5">
        ・施設検索
      </p>
      <p class="text-center pt-3">
        まだ知らない施設の様子を覗いてみよう！<br>
        新たなホームサウナ、サ旅のきっかけに…
      </p>
      <p class="text-center pt-5">
        ・サ活投稿
      </p>
      <p class="text-center pt-3">
        自分のサ活を他のサウナーに共有しよう！<br>
        他のサウナーのサ活も見てみよう。特にビギナーサウナーの方はサウナの入り方の参考に！
      </p>
      <p class="text-center pt-5">
        ・グループチャット機能
      </p>
      <p class="text-center pt-3">
        他のサウナーと直撮情報交換してみよう！<br>
        一緒にサ活するきっかけに…!?
      </p>
  </div>
</div>
