<div class="container about">
  <div class="container top-text pt-5">
      <h2 class="text-center pt-5">
        everybodySAUNAとは…？
      </h2>
      <h3 class="text-center pt-5">
        全てのサウナーのサ活を充実したものに！
      </h3>
      <p class="text-center pt-3">
        以下の機能でこんなことができます。
      </p>
      <h4 class="text-center about_title">
          <strong>・施設投稿</strong>
        </h4>
        <p class="text-center pt-3">
          自分が行っている施設の情報を登録してみよう！<br>
          同じ施設に行っているサウナーと
        </p>
        <p class="text-center about_use"><使い方></p>
        <p class="text-center about_use">
          1.上記の検索欄に検索したい施設名を入力し、<br>
            「検索」をクリック。<br>
          2.該当の施設名を選んでクリック。
        </p>
        <h4 class="text-center about_title">
          <strong>・施設検索</strong>
        </h4>
        <p class="text-center pt-3">
          まだ知らない施設の様子を覗いてみよう！<br>
          新たなホームサウナ、サ旅のきっかけに…
        </p>
        <p class="text-center about_use"><使い方></p>
        <p class="text-center about_use">
          1.上記の検索欄に検索したい施設名を入力し、<br>
            「検索」をクリック。<br>
          2.該当の施設名を選んでクリック。
        </p>
        <h4 class="text-center about_title">
          <strong>・サ活投稿</strong>
        </h4>
        <p class="text-center pt-3">
          自分のサ活を他のサウナーに共有しよう！<br>
          他のサウナーのサ活も見てみよう。特にビギナーサウナーの方はサウナの入り方の参考に！
        </p>
        <p class="text-center about_use"><使い方></p>
        <p class="text-center about_use">
          1.行ったサウナ施設のページに遷移する<br>
          2.「サ活投稿」をクリック<br>
          3.必要事項(サウナ時間,水風呂時間,ととのい時間など...)を記入し、<br>
            「新規登録」をクリック。
        </p>
        <h4 class="text-center about_title">
          <strong>・グループチャット機能</strong>
        </h4>
        <p class="text-center pt-3">
          他のサウナーと直撮情報交換してみよう！<br>
          一緒にサ活するきっかけに…!?
        </p>
        <p class="text-center about_use"><使い方></p>
        <p class="text-center about_use">
          1.行ったサウナ施設のページに遷移する<br>
          2.クループ一覧から、参加したいグループ名をクリック。<br>
          3.「参加する」をクリック。<br>
          4.再度該当のグループ名をクリックし<br>
            表示されているチャットでトーク開始！
        </p>
  </div>
</div>
