<div class="container about">
  <div class="container top-text pt-5 pb-5">
      <h2 class="text-center pt-5">
        everybodySAUNAとは…？
      </h2>
      <h3 class="text-center pt-5">
        全てのサウナーのサ活を充実したものに！<br>
        をコンセプトとしたサイトです。
      </h3>
      <p class="text-center pt-3">
        以下の機能でこんなことができます。
      </p>
      <h4 class="text-center pt-5">
          <strong>・施設投稿</strong>
      </h4>
      <p class="text-center pt-3">
        自分が行っている施設の情報を登録してみよう！<br>
        同じ施設に行っているサウナーと
      </p>
      <h4 class="text-center pt-5">
        <strong>・施設検索</strong>
      </h4>
      <p class="text-center pt-3">
        まだ知らない施設の様子を覗いてみよう！<br>
        新たなホームサウナ、サ旅のきっかけに…
      </p>
      <h4 class="text-center pt-5">
        <strong>・サ活投稿</strong>
      </h4>
      <p class="text-center pt-3">
        自分のサ活を他のサウナーに共有しよう！<br>
        他のサウナーのサ活も見てみよう。特にビギナーサウナーの方はサウナの入り方の参考に！
      </p>
      <h4 id="chat_group_explanation" class="text-center pt-5">
        <strong>・グループチャット機能</strong>
      </h4>
      <p class="text-center pt-3">
        他のサウナーと直撮情報交換してみよう！<br>
        一緒にサ活するきっかけに…!?
      </p>
  </div>
  <div id="term" class="text-center term">
    <h2>サウナ用語</h2>
    <h4 class="text-center pt-5">
        <strong>・サウナー</strong>
      </h4>
      <p class="text-center">
        サウナ好き、サウナに行く人のこと
      </p>
      <h4 class="text-center pt-5">
        <strong>・ととのう</strong>
      </h4>
      <p class="text-center">
        サウナと水風呂を繰り返した後の気持ち良さのこと<br>
        椅子などに座ってボーッとしている瞬間…
        これがサウナの最大の魅力！！！
      </p>
      <h4 class="text-center pt-5">
        <strong>・サ活</strong>
      </h4>
      <p class="text-center">
        サウナに通う活動や、サウナを楽しむ活動
      </p>
      <h4 class="text-center pt-5">
        <strong>・ロウリュ</strong>
      </h4>
      <p class="text-center">
        サウナ風呂の入浴法の一つ。<br>
        熱したサウナストーンに水をかけて水蒸気を発生させることにより、<br>
        体感温度を上げて発汗作用を促進する効果がある。
      </p>
  </div>
</div>
