<div class="container">
  <div id="slide">
    <div id="theTarget" style="position: relative;">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
    <div style="background: rgba(0, 0, 0, 0.4); z-index: 10; position: absolute; color: #fcfcfc; padding: 60px;">
      全てのサウナーのサウナ生活のサポートを・・・
    </div>
  </div>
  <div class="container">
    <h5 class="pt-5"><新規サ活投稿></h5>
    <%= render 'post', new_posts: @new_posts, sauna: @sauna %>
  </div>
  <div class="container">
    <h5 class="pt-5"><新規施設情報></h5>
    <%= render 'sauna', new_saunas: @new_saunas %>
  </div>
  <div class="container">
    <h5 class="pt-5"><新規チャットグループ情報></h5>
    <%= render 'chat_group', new_groups: @new_groups %>
  </div>
</div>