<div class="container">
  <div class="container">
    <h5 class="pt-5"><新規サ活投稿></h5>
    <%= render 'post', new_posts: @new_posts, saunas: @saunas, saunners: @saunners %>
  </div>
  <div class="container">
    <h5 class="pt-5"><新規施設情報></h5>
    <%= render 'sauna', new_saunas: @new_saunas %>
  </div>
  <div class="container">
    <h5 class="pt-5"><お問合せ情報></h5>
    <%= render 'contact', new_contacts: @new_contacts %>
  </div>
</div>