<div class="container">
  <h1>チャットグループ一覧</h1>

  <table class="table">
    <% @chat_groups.each do |chat_group| %>
    <thead>
      <tr>
        <th></th>
        <th>グループ名</th>
        <th>グループ説明</th>
        <th>グループに参加するor入る</th>
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><%= chat_group.name %></td>
        <td><%= chat_group.introduction %></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
