<div class="container px-5 px-sm-0 admin_products">
  <h2>商品一覧</h2>
  <div class="mt-5">
    <div><%= link_to '+', new_admin_product_path, class: 'btn btn-outline-dark' %></div>
    <%= render "index", products: @products %>
  </div>
</div>
