<div class="container px-5 px-sm-0 new_admin_product">
  <h2>商品新規登録</h2>
  <%= render "/layouts/errors", obj: @product %>
  <div class="mt-5">
    <%= render "form", product: @product %>
  </div>
</div>