<div class="container px-5 px-sm-0 admin_product">
  <h2>商品詳細</h2>
  <div class="row mt-5">
    <div class="col">
      <%= image_tag @product.product_image, size: '500x400' %>
      <table>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @product.is_active %>
              <span>販売中</span>
            <% else %>
              <span>販売停止中</span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col">
      <%= render "show", product: @product %>
      <%= link_to "編集", edit_admin_product_path(@product.id), class: "btn btn-sm btn-outline-success" %>
    </div>
  </div>
  <p><%= link_to "≤商品一覧", admin_products_path %></p>
</div>