/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "skippr";

.image1 {
  background-image: image-url("image1.jpeg");
}
.image2 {
  background-image: image-url("image2.jpeg");
}
.image3 {
  background-image: image-url("image3.jpeg");
}
.image4 {
  background-image: image-url("image4.jpeg");
}
.image5 {
  background-image: image-url("image5.jpeg");
}

#slide{
  width: 1200px;
  height: 800px;
}

body{
  position: relative;
}

footer{
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: #b0c4de;
}

.header{
  padding-left: 100px;
  background-color: #b0c4de;
  height: 100px;
}

.header_drop_down{
  z-index: 99;
  background: #b0c4de;
}

/*下に吹き出し*/
.bubbleoya{
  position: relative; /* 指定した分だけ相対的に移動 */
}
.bubbleoya:hover .bubble{
  display: inline; /* インライン要素として表示 */
}
.bubble{
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  padding: 5px; /* テキストの前後の余白 */
  background-color: rgb(0, 0, 255); /* 背景色（透明度） */
  width: 380px; /* 吹き出し全体の幅 */
  left : -1%; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  color: #fff;/*文字色*/
  z-index: 990;/*最前面*/
}
.bubble:after{
  border-bottom: 12px solid rgb(0, 0, 255); /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent; /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent; /* 吹き出し口の幅１／２ */
  top: -12px; /* 吹き出し口の位置調整 */
  left : 5%; /* 吹き出し口の横位置 */
  content: ""; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
}

/*右に吹き出し*/
.bubbleoya:hover .right_bubble{
  display: inline; /* インライン要素として表示 */
}
.right_bubble{
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  padding: 5px; /* テキストの前後の余白 */
  background-color: rgb(0, 0, 255); /* 背景色（透明度） */
  width: 400px; /* 吹き出し全体の幅 */
  right: -1%; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  color: #fff;/*文字色*/
  z-index: 999;/*最前面*/
}
.right_bubble:after{
  border-right: 12px solid rgb(0, 0, 255); /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  left: -12px; /* 吹き出し口の位置調整 */
  top: 5%; /* 吹き出し口の縦位置 */
  content: ""; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
}

/*左に吹き出し*/
.bubbleoya:hover .left_bubble{
  display: inline; /* インライン要素として表示 */
}
.left_bubble{
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  padding: 2px; /* テキストの前後の余白 */
  background-color: rgb(0, 0, 255); /* 背景色（透明度） */
  width: 400px; /* 吹き出し全体の幅 */
  left : -1%; /* 表示位置 */
  font-size: 80%; /* 文字サイズ */
  color: #fff; /*文字色*/
  z-index: 100; /*最前面*/
}
.left_bubble:after{
  border-left: 12px solid rgb(0, 0, 255); /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent; /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;/* 吹き出し口の高さ１／２ */
  right: -12px; /* 吹き出し口の位置調整 */
  top: 5%; /* 吹き出し口の縦位置 */
  content: ""; /* コンテンツの挿入 */
  position: absolute; /* 親要素を基準 */
}

/*必須用*/
.required{
  color: #fff;
  background: #f14668;
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 1px;
  margin-left: 5px;
}

.shadow{
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.shadow:hover{
  transform: translate(0, -2px);
  box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.pagination {
  border: none;     /*枠線をなくす*/
  color: #696969;/*文字の色を変える*/
  margin-right: 10px;
}
/*文字省略表示*/
.omit{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about{
  color: #fff;
  padding-bottom: 50px;
  background-image: image-url("about.jpeg");
}

.about_use{
  margin: 0px;
}

.term{
  margin-top: 100px;
}

.registrations{
  margin-bottom: 246px;
}

.sessions{
  margin-bottom: 320px;
}

.top-text{
  font-weight: bold;
  font-size: large;
}

.top_post_tiile{
  color: blue;
  clamp: 1px, 18px, 18px;
}

.top_post_image{
  width: 286px;
	height: 180px;
	object-fit: cover;
}

.top_sauna_image{
  width: 286px;
	height: 220px;
	object-fit: cover;
}

.mypage{
  padding-bottom: 456px;
}

.mypage_image{
  width: 50px;
	height: 50px;
	object-fit: cover;
}

.saunner-edit{
  padding-bottom: 427px;
}

.unsubscribe{
  margin-bottom: 337px;
}

.unsubscribe-message{
  font-size: 30px;
}

.saunas{
  margin-bottom: 500px;
}

.sauna_index_image{
  width: 300px;
	height: 300px;
	object-fit: cover;
}

.sauna_show_image{
  width: 300px;
	height: 200px;
	object-fit: cover;
}

.post_show{
  margin-bottom: 105px;
}

.post_index_image{
  width: 300px;
	height: 320px;
	object-fit: cover;
}

.post_index_sauna_image{
  width: 400px;
	height: 300px;
	object-fit: cover;
}

.post_index_food_image{
  width: 400px;
	height: 200px;
	object-fit: cover;
}

.post_search_tag{
  margin-bottom: 263px;
}

.chat_group_new{
  margin-bottom: 408px;
}

.chat_group{
  margin-bottom: 435px;
}

.chat_groups{
  margin-bottom: 418px;
}

.chat_group_introduction_title{
  width: 50px;
}

.chat_group_introduction{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-file{
  padding-left: 200px;
  padding-right: 200px;
}

/*チャット*/
#bms_messages_container{
  height: 100%;/*your_containerに対して100%になる */
  width: 100%;/*your_containerに対して100%になる */
  background-color: #eee;
}

/* ヘッダー部分② */
#bms_chat_header {
    padding: 10px;/*隙間調整*/
    font-size: 16px;
    height: 60px;
    background: #ddd;
    border: 1px solid #ccc;
}

#bms_messages {
  padding-top: 10px;/*投稿フォームを少し離す*/
  overflow: auto;/* スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする */
  height:100%;/*テキストエリアが下に張り付く様にする*/
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;/*ヘッダーの下に影を入れる*/
}

.bms_message {
  margin: 0px;
  padding: 0 14px;/*吹き出しがタイムラインの側面にひっつかない様に隙間を開ける*/
  font-size: 16px;
  word-wrap: break-word;/* 吹き出し内で自動で改行 */
  white-space: normal;/*指定widthに合わせて、文字を自動的に改行*/
}

.bms_left {
  float: left;/*吹き出しをbms_messagesに対して左寄せ*/
  line-height: 1.3em;
}

.bms_left .bms_message_box {
  color: #333;/*テキストを黒にする*/
  background: #fff;
  border: 2px solid #13178E;
  border-radius: 30px 30px 30px 0px;/*左下だけ尖らせて吹き出し感を出す*/
  margin-right: 50px;/*左側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
}

.bms_right{
  float: right;/*吹き出しをbms_messagesに対して右寄せ*/
  line-height: 1.3em;
}

.bms_right .bms_message_box {
  color: #fff;/*テキストを白にする*/
  background: #13178E;
  border: 2px solid #13178E;
  border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す*/
  margin-left: 50px;/*右側の発言だとわかる様に、吹き出し左側に隙間を入れる*/
}

.bms_clear {
  clear: both; /* 左メッセージと右メッセージの回り込み(float)の効果の干渉を防ぐために必要（これが無いと、自分より下のメッセージにfloatが影響する） */
}

.bms_message_saunner{
  margin-top: 20px;/*上下の吹き出しがひっつかない様に隙間を入れる*/
  margin-bottom: 0px;/*投稿時間とユーザー名をくっつける*/
}

.bms_message_time{
  margin-top: 0px;/*投稿時間とユーザー名をくっつける*/
  margin-bottom: 0px;/*吹き出しと投稿時間をくっつける*/
}

.bms_message_box{
  margin-top: 0px;/*吹き出しとユーザー名をくっつける*/
  max-width: 100%;/*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
  font-size: 16px;
}

.bms_message_content{
  padding: 20px;/*文字や画像（コンテンツ）の外側に隙間を入れる*/
}

.search{
  margin-bottom: 333px;
}

.notification{
  margin-bottom: 500px;
}

.product{
  margin-bottom: 428px;
}

.product_show_image{
  width: 500px;
	height: 400px;
	object-fit: cover;
}

.products{
  margin-bottom: 356px;
}

.product_index_image{
  width: 200px;
	height: 150px;
	object-fit: cover;
}

.cart_products{
  margin-bottom: 392px;
}

.confirm{
  margin-bottom: 330px;
}

.new_order{
  margin-bottom: 262px;
}

.admin_posts{
  margin-bottom: 400px;
}

.admin_post_show{
  margin-bottom: 258px;
}

.admin_chat_group_show{
  margin-bottom: 563px;
}

.admin_contact{
  margin-bottom: 500px;
}

.admin_genres{
  margin-bottom: 515px;
}

.new_admin_product{
  margin-bottom: 72px;
}

.admin_products{
  margin-bottom: 508px;
}

.admin_product{
  margin-bottom: 245px;
}

